# =========================
# MDB - ERP
# =========================
ERP_MDB=

# =========================
# SQLite - Banco de Dados
# =========================
ERP_SQLITE_DB=
SQLITE_DB=

# =========================
# Paths
# =========================
OUTPUT_DIR=
INPUT_DIR=

# =========================
# VARS
# =========================

ENCODING=