# =========================
# MDB
# =========================

MDB_PATH=

# =========================
# PATHS
# =========================

BASE_DIR=

SCHEMA_FILE=
SQLITE_DB=

OUTPUT_DIR=
INPUT_DIR=
TABLE_DIR=

# =========================
# VARS
# =========================

ENCODING= 