# =========================
# MDB
# =========================

ERP_MDB=
ERP_SCHEMA=
ERP_SQLITE_DB=

# =========================
# PATHS
# =========================

BASE_DIR=
SQLITE_DB=

OUTPUT_DIR=
INPUT_DIR=

# =========================
# VARS
# =========================

ENCODING= 